.cad-form{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.titleForm{
    color: red;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 15px;
}