.cad-form{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.titleForm{
    margin-top: 20px;
    color: chartreuse;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 15px;
}